<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  {% for experience in site.data.experiences %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">{{ experience.job_title }}</h3>
          <div class="time">{{ experience.job_start }} - {{ experience.job_end }}</div>
        </div><!--//upper-row-->
        {% if experience.company_link %}
          <a href="{{ experience.company_link }}" target="_blank"><div class="company">{{ experience.company_name }}, {{ experience.company_location }}</div></a>
        {% else %}
          <div class="company">{{ experience.company_name }}, {{ experience.company_location }}</div>
        {% endif %}
      </div><!--//meta-->
      <div class="details">
        <p>{{ experience.description }}
          {% if experience.works %}
            <ul>
              {% for work in experience.works %}
                <li>{{ work }}</li>
              {% endfor %}
            <ul>
          {% endif %}
        </p>  
      </div><!--//details-->
    </div><!--//item-->
  {% endfor %}
</section><!--//section-->
